<div class="container-fluid"> 
	<div class="row"> 
		<div class="home-head col-xs-12"> 
			<div id="home-header">
				<h1>YOUR ONE STOP SHOP FOR DAILY FANTASY SPORTS</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="home-info col-md-7">
		<h1> Our Mission</h1>
			<p> Tumblr marfa put a bird on it, forage pour-over brooklyn +1 seitan craft beer wolf raw denim. Kale chips put a bird on it portland authentic, post-ironic slow-carb lo-fi crucifix poke hella forage distillery. Echo park artisan typewriter, skateboard raw denim authentic seitan messenger bag. Fingerstache paleo tattooed, tilde forage af single-origin coffee hashtag quinoa pinterest </p>
			<p>  kickstarter kale chips chia. Plaid 3 wolf moon kogi meggings sriracha jianbing 8-bit, mixtape farm-to-table vaporware photo booth fixie food truck. Kale chips cronut cornhole, typewriter iceland pok pok narwhal paleo pork belly flexitarian PBR vice. Pour-over humblebrag taxidermy lo-fi, stumptown iceland tacos seitan readymade cray retro polaroid vape bicycle rights.</p>
			<p> <strong> What to expect: </strong> <br>kickstarter kale chips chia. Plaid 3 wolf moon kogi meggings sriracha jianbing 8-bit, mixtape farm-to-table vaporware photo booth fixie food truck. Kale chips cronut cornhole, typewriter iceland pok pok narwhal paleo pork belly flexitarian PBRB vice. Pour-over humblebrag taxidermy lo-fi, stumptown iceland tacos seitan readymade cray retro polaroid vape bicycle rights.</p>
			<p>  kickstarter kale chips chia. Plaid 3 wolf moon kogi meggings sriracha jianbing 8-bit, mixtape farm-to-table vaporware photo booth fixie food truck. Kale chips cronut cornhole, typewriter iceland pok pok narwhal paleo pork belly flexitarian PBRB vice. Pour-over humblebrag taxidermy lo-fi, stumptown iceland tacos seitan readymade cray retro polaroid vape bicycle rights.</p>
		</div>
		<div class="home-checkout col-md-7">
		</div>
	</div>
</div>